.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 20px;
}

.all {
  font-size: var(--header-size);
  text-align: center;
  margin: 2rem 0rem;
  color: var(--black);
  opacity: 0.7;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
  padding: 2rem;
  padding-top: 0rem;
}

.container > div:nth-child(even) {
  background-color: var(--primary-color);
}

.container >div:nth-child(odd) {
  background-color: var(--secondary-color);
}


.cont > img {
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
}

.cont {
  height: auto;
  box-shadow: 0px 0px 2px 3px #9999994f;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.science {
  font-size: 1.8rem;
  color: var(--color);
}

.inner {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 1.6rem;
  color: var(--color);
}

.btnDiv{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 2rem;
}

.resetButton{
  width: 15rem;
  height: 4rem;
  background-color: var(--primary-color);
  color: var(--color);
  font-size: 1.4rem;
  border: none;
  border-radius: 0.8rem;
  margin-left: 2rem;
  padding: 0rem 1rem;
}

@media (max-width:575px) {
  .all{
    font-size: 2.5rem;
  }
}


