
.mainContainer {
  min-height: 100vh;
  box-sizing: border-box;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 5rem;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 20px;
  height: 10rem;

}


